{{#partial "content"}}
    <div id="main">
        <section class="main credits">
            <article>
                <h3>Credits</h3>
                <ul>
                    <li>Stellar Template by <a href="https://html5up.net/uploads/demos/stellar/" target="_blank">HTML5 UP</a></li>
                    <li>Super heroes vector images <a href="https://www.freepik.com/free-vector/male-superhero-set_2919278.htm" target="_blank">by FreePik</a></li>
                </ul>
            </article>
            <article>
                <h3>Technologies</h3>
                <ul>
                    <li>Java</li>
                    <li>Java Spark</li>
                    <li>HandleBars templating language</li>
                    <li>jQuery</li>
                </ul>
            </article>
        </section>
    </div>
{{/partial}}

{{> layout.hbs}}