{{#partial "content"}}
    <div id="main">
        <section class="main">
            <div class="spotlight">
                <div class="content">
                    <header class="major">
                        <h2>Add Super Heroes</h2>
                    </header>
                    <p>Add your heroes - with custom powers and weaknesses.</p>
                </div>
                <span class="image"><img src="/images/hero1.png" alt="Hero 1"></span>
            </div>
        </section>
        <section class="main">
            <div class="spotlight spotlight-alt">
                <span class="image"><img src="/images/hero2.png" alt="Hero 1"></span>
                <div class="content">
                    <header class="major">
                        <h2>Add Squads</h2>
                    </header>
                    <p>Add your super hero teams and squads - with custom squad size and their fighting cause.</p>
                </div>
            </div>
        </section>
        <section class="main">
            <div class="spotlight">
                <div class="content">
                    <header class="major">
                        <h2>Finally, add Super Heroes to Squads</h2>
                    </header>
                    <p>Finally, map your super heroes to their squad</p>
                </div>
                <span class="image"><img src="/images/hero3.png" alt="Hero 1"></span>
            </div>
        </section>
    </div>
{{/partial}}

{{> layout.hbs}}