<nav id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/heroes">Heroes</a></li>
        <li><a href="/squads">Squads</a></li>
        <li><a href="/credits">Credits</a></li>
    </ul>
</nav>